<%- include('../partials/header', { pageTitle: 'Administración de Usuarios' }) %>

<main>
    <h2>Administración de Usuarios</h2>

    <form action="/users/admin" method="GET">
        <input type="text" name="search" placeholder="Buscar usuario o email..." value="<%= searchQuery || '' %>">
        <button type="submit">Buscar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td>
                        <form action="/users/admin/delete-user" method="POST" style="display:inline;" class="delete-form">
                            <input type="hidden" name="userId" value="<%= user._id %>">
                            <button type="button" class="delete-button">Eliminar</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</main>

<%- include('../partials/footer') %>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const deleteButtons = document.querySelectorAll('.delete-button');
        
        deleteButtons.forEach(button => {
            button.addEventListener('click', function() {
                const form = this.closest('.delete-form');
                
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "Esta acción eliminará al usuario de forma permanente.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Sí, eliminar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        form.submit();
                    }
                });
            });
        });
    });
</script>
